@mixin ellipsis($num-lines: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num-lines; // number of lines
  // max-height: calc($num-lines * $line-height-base); //fallback
}
