// Flexbox ---------------------------------------------------------------------
.flex {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  @include breakpoint('phone-only') {
    flex-direction: column;
    flex-flow: column wrap;
  }
  @include breakpoint('tablet-portrait') {flex-direction: row;}

  // container -----------------------------------------------------------------
  &.items-start                     {align-items: flex-start;}
  &.items-end, &.align-bottom       {align-items: flex-end;}
  &.items-center, &.vertical-center {align-items: center;}
  &.items-stretch, &.stretch        {align-items: stretch;}
  &.items-baseline                  {align-items: baseline;}

  &.direction-row                              {flex-direction: row;}
  &.direction-row-reverse, &.row-reverse       {flex-direction: row-reverse;}
  &.direction-column, &.column                 {flex-direction: column;}
  &.direction-column-reverse, &.column-reverse {flex-direction: column-reverse;}

  &.flex-nowrap, &.nowrap, &.single-line {flex-wrap: nowrap;}
  &.flex-wrap                            {flex-wrap: wrap;}
  &.flex-wrap-reverse                    {flex-wrap: wrap-reverse;}

  &.justify-start {justify-content: flex-start;}
  &.justify-end {justify-content: flex-end;}
  &.justify-center, &.center {justify-content: center;}
  &.justify-between, &.space-between {justify-content: space-between;}
  &.justify-around {justify-content: space-around;}

  &.horizontal-space, &.spacing {
    @include breakpoint('tablet-landscape') {
      .flex-single + .flex-single,
      .flex-double + .flex-single,
      .flex-double + .flex-double {margin-left: 2em;}
    }
  }


  // elements ------------------------------------------------------------------
  .align-self-auto {align-self: auto;}
  .align-self-start {align-self: flex-start;}
  .align-self-end {align-self: flex-end;}
  .align-self-center {align-self: center;}
  .align-self-baseline {align-self: baseline;}
  .align-self-stretch {align-self: stretch;}

  .flex-single {
    @include breakpoint('phone-only') {
      flex: auto !important;
      width: 100%;
    }
    @include breakpoint('tablet-portrait') {flex: 1;}
  }
  .flex-double {
    @include breakpoint('phone-only') {
      flex: 2;
      width: 100%;
    }
    @include breakpoint('tablet-portrait') {flex: 2;}
  }
  div[class^="col-md-"] {width: auto !important;}

  img {max-width: 100%;}
  
  &.row {
    margin: 0;
    div[class^="col-md-"] {
      margin: 0;
      float: none;
    }
    div[class^="col-md-"]:not(.horizontal-padding):not(.border) {padding: 0;}
  }
}
