// Oneliner  -------------------------------------------------------------------
@mixin oneliner($max-width: 100%) {
  display: inline-block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.oneliner label,
.oneliner .formatstring,
.oneliner {@include oneliner(100%);}
