@mixin breakpoint($point) {
  $small: "(max-width: 958px)";
  $medium: "(min-width: 959px)";
  $large: "(min-width: 1200px)";
  $extra-large: "(min-width: 1200px)";

  @if $point == small {
    @media #{$small} { @content; }
  }
  
  @else if $point == medium {
    @media #{$medium} { @content; }
  }
  
  @else if $point == large {
    @media #{$large}  { @content; }
  }

  @else if $point == extra-large {
    @media #{$extra-large}  { @content; }
  }
}
